@font-face {
	font-family: 'born';
	src: url('fonts/born.eot');
	src: url('fonts/born.eot?#iefix') format('embedded-opentype'),
	url('fonts/born.woff2') format('woff2'),
	url('fonts/born.woff') format('woff'),
	url('fonts/born.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'neighbourhood';
	src: url('fonts/neighbourhood.eot');
	src: url('fonts/neighbourhood.eot?#iefix') format('embedded-opentype'),
	url('fonts/neighbourhood.woff2') format('woff2'),
	url('fonts/neighbourhood.woff') format('woff'),
	url('fonts/neighbourhood.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
