#indie {
	p {
		@extend .very-big;
		display: none;

		> span {
			display: inline-block;
			vertical-align: middle;
			width: 50%;

			&:first-child {
				text-align: right;
				perspective: 300px;
			}
		}

		b {
			transform-origin: 50% 100%;
			opacity: 0;
			display: inline-block;
			width: 100%;
			position: absolute;
			font-weight: normal;
			left: 0;
			top: 0;
			@extend .hidden-rotate;
			color: $iwcorange;
		}
	}

	&.active p {
		display: block;
	 }
}

#indie.indie b:first-child,
#indie.independent b:nth-child(2),
#indie.individual b:last-child {
	@extend .visible-rotate;
}

#indie.indie b:first-child {
	color: $foreground;
	animation: none;
}
#indie.independent b:first-child,
#indie.individual b:first-child,
#indie.individual b:nth-child(2) {
	animation: flip-out .6s;
}


#indieweb-is {
	li {
		transition: opacity $transition ease-in-out;
	}

	&.none li,
	&.community li:nth-of-type(1n+2),
	&.mindset li:nth-of-type(1n+3){
		opacity: 0;
	}
}


#_90s {
	section {
		background-image: url('img/sketches/01_90er.png');
		background-position: right center;
	}
}

#old-website {
	background: transparent url('img/oldsite/background.gif') repeat;
	font-family: "Comic Sans MS";
	padding: 2vh 10vw;

	h1 {
		color: $yellow;
		font-weight: bold;
		font-size: 4vw;
		text-align: center;
		font-family: "Comic Sans MS";
		text-decoration: underline;
	}

	p {
		color: $yellow;
		text-align: center;

		&.blue {
			font-family: "Times New Roman", serif;
			color: $blue;
		}
	}

	.blink {
		text-decoration: blink;
	}

	marquee {
		background-color: #00f;
		color: #f00;
	}
}

#_00s {
	section {
		background-image: url('img/sketches/02_00er.png');
		background-position: center right;
	}
}

#zuckerberg {
	.cover {
		background-image: url('img/zuckerberg.jpg');
		background-size: cover;
	}

	&.active .cover {
		animation: pushin 20s cubic-bezier(.2, .3, .25, .9) forwards;
	}
}

#socialnetworks{
	section {
		background-image: url('img/sketches/03_social-networks.png');
		background-position: center left;
		padding-left: 50%;
	}
}

#oldschool{
	background-image: radial-gradient(ellipse farthest-corner at 35% 50%, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 100%);

	section {
		background-image: url('img/sketches/04_oldschool.png');
		background-position: center left;
		padding-left: 50%;
	}

	.versus {
		display: block;
		font-size: 3vw;
		margin: .5em 1.5em;
	}
}

#walled-gardens{
	section {
		background-image: url('img/sketches/05_walled-gardens.png');
		background-position: center left;
		padding-left: 65%;
	}
}

#silo {
	background: url('img/collapsing-silo.gif') center no-repeat;
	background-size: cover;

	section::before {
		background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 100%);
	}
}

#site-deaths{
	background-image: radial-gradient(ellipse farthest-corner at 70% 50%, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 100%);

	section {
		background-image: url('img/sketches/06_site-deaths.png');
		background-position: center right;
	}
}

#graveyard {
	.cover {
		background-image: url('img/graveyard.jpg');
		background-size: cover;
	}

	&.active .cover {
		animation: pushin 20s cubic-bezier(.2, .3, .25, .9) forwards;
	}
}

#i-dont-care {
	background-image: radial-gradient(ellipse farthest-corner at 35% 50%, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 100%);
}

#indiewebcamp {
	.iwc {
		background-color: #fff;
		padding: 1em;
		width: 60%;

		img {
			width: 100%;
			height: auto;
		}
	}
}

#independence {
	section {
		background-image: url('img/sketches/07_federation.png');
		background-position: center;
	}
}

#syndication {
	section {
		background-image: url('img/sketches/08_syndication.png');
		background-position: center left;
		padding-left: 50%;
	}
}

#principles {

}

#tom {
	section {
		background-image: url('img/sketches/tom.png');
		background-position: center left;
		padding-left: 50%;
	}
}

.with-tom {
	section {
		background-image: url('img/sketches/tom.png');
		background-position: center left;
		background-size: auto 58vmin;
		padding-left: 50%;
	}
}

#indiemark {
	section {
		background-image: url('img/indiemark/intro.svg');
		background-position: 100% 50%;
		background-size: auto 70vmin;
	}
}

#indieauth {
	section {
		background-image: url('img/logos/indieauth.svg');
		background-position: 25% center;
		background-size: 22% auto;
		padding-left: 50%;
	}
}

#relme {
	.cover {
		background-image: url('img/screenshots/relmeauth.png');
		background-size: 84% auto;
		background-position: 50% 65%;
	}
}

#login {
	.cover {
		background-image: url('img/screenshots/indiewebcamp.com-login.png');
		background-size: auto;
	}

	&.active .cover {
		animation: pushin 20s cubic-bezier(.2, .3, .25, .9) forwards;
	}
}

#indieauth-scan {
	background: transparent url('img/screenshots/indieauth-noise.jpg') center repeat;

	.cover {
		background-image: url('img/screenshots/indieauth-scan.png');
		background-size: auto;
	}

	&.active .cover {
		animation: pushin-pan 20s cubic-bezier(.2, .3, .25, .9) forwards;
	}
}

#indieauth-twitter {
	.cover {
		background-image: url('img/screenshots/indieauth-twitter.png');
		background-size: auto;
	}

	&.active .cover {
		animation: pushin 20s cubic-bezier(.2, .3, .25, .9) forwards;
	}
}

#indieauth-delegation {
	.cover {
		background-image: url('img/screenshots/indieauth-login.svg');
		background-size: contain;
	}

	&.active .cover {
		animation: pushin 20s cubic-bezier(.2, .3, .25, .9) forwards;
	}
}

#building-blocks {
	ul {
		display: table;
		margin: 3em auto 0 auto;
	}
	li {
		display: table-cell;
		width: 50%;
		text-align: center;
		vertical-align: middle;
		padding: 0 2em;
	}
	img {
		height: 30vh;
		width: auto;
	}

	.microformats figcaption {
		padding-right: 1em;
	}
}

#permalinks {
	.cover {
		background-image: url('img/screenshot-article.jpg');
		background-size: 70% auto;
		background-position: 50% 40vh;
	}

	&.active .cover {
		animation: pushin 20s cubic-bezier(.2, .3, .25, .9) forwards;
	}
}

#h-entry {
	.cover {
		background-image: url('img/screenshots/hentry.png');
		background-size: 84% auto;
		background-position: 50% 65%;
	}
}

#robots {
	.cover {
		background-image: url('img/eve.png');
		background-size: 30% auto;
		background-position: 70% 60%;
	}

	&.active .cover {
		animation: pushin 20s cubic-bezier(.2, .3, .25, .9) forwards;
	}
}

#curl {
	background-image: radial-gradient(ellipse farthest-corner at 35% 50%, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 100%);
}

#google-site-search {
	.cover {
		background-image: url('img/screenshots/site-search-via-google.png');
		background-size: auto;
	}

	&.active .cover {
		animation: pushin-pan 20s cubic-bezier(.2, .3, .25, .9) forwards;
	}
}

#indiemark-l1-4 {
	section {
		background-image: url('img/indiemark/level1.svg');
		background-position: 100% 50%;
		background-size: auto 70vmin;
	}
}

#h-card {
	.cover {
		background-image: url('img/screenshots/hcard.png');
		background-size: 84% auto;
		background-position: 50% 55%;
	}
}

#posse, #pesos {
	section {
		background-size: auto 50vh;
		background-position: bottom left;
	}

	.logos {
		margin: -4vw 0 0 -15vh;
		position: absolute;
		top: 50%;
	}

	img {
		vertical-align: middle;
		height: auto;
		width: 8vw;
		margin-right: 3vw;
	}
}

#indiemark-l2-3 {
	section {
		background-image: url('img/indiemark/level2.svg');
		background-position: 100% 50%;
		background-size: auto 70vmin;
	}
}

#indiemark-l3-1 {
	section {
		background-image: url('img/logos/webmention.svg');
		background-position: 75% 75%;
		background-size: auto 30vh;
	}
}

#webmention {
	section {
		background-image: url('img/sketches/tom-lotte.png');
		background-position: center;
		background-size: contain;
	}

	li {
		position: absolute;
		width: 14vmin;
		height: 19.8vmin;
		text-indent: 200%;
		overflow: hidden;
		white-space: nowrap;
		background-size: contain;
		background-repeat: no-repeat;

		&.tom-publishes {
			background-image: url('img/tom-lotte-1.svg');
			left: 35%;
			top: 20%;
			box-shadow: 0 0 1em rgba(0, 0, 0, .4);
		}

		&.lotte-replies {
			background-image: url('img/tom-lotte-2.svg');
			 left: 58%;
			 top: 12%;
			 transform: scale(.8);
			 box-shadow: 0 0 1em rgba(0, 0, 0, .4);
		}

		&.lotte-sends-webmention {
			background-image: url('img/tom-lotte-webmention.svg');
			 left: 47%;
			 top: 45%;
			 width: 13vw;
		}

		&.http-request {
			width: 50%;
			height: auto;
			bottom: 15vh;
			right: 0;
			 pre {
				 font-size: 2vh;
				 display: block;
			 }
		 }

		&.tom-publishes-reply {
			background-image: url('img/tom-lotte-3.svg');
			 left: 35%;
			 top: 20%;
		}
	}
}

#webmentions {
	.cover {
		background-image: url('img/screenshots/webmentions.png');
		background-size: auto;
	}

	&.active .cover {
		 animation: pushin-pan-fast 20s cubic-bezier(.2, .3, .25, .9) forwards;
	 }
}

#generations {
	img {
        max-width: 100%;
        max-height: 40vh;
        width: 100%;
		margin-top: 1em;
    }
}

#indiewebcampcom {

}

#jump {
	.cover {
		background-image: url('img/iwcnbg2016.gif');
		background-size: cover;
	}

	&.active .cover {
		animation: pushin 20s cubic-bezier(.2, .3, .25, .9) forwards;
	}
}
